*{
	margin:0;
	padding:0;
}

body{
	padding: 5px;
	width: 100%;
	background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(bg-2.jpg);
	background-position: center;
	background-size: cover;
	height: 100vh;
}
h1
{
	border: 2px solid white;
	margin: 0px;
}
